*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//
// We set height to 100% so that
// we can set the hero section to fill the whole screen

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  color: $dark-color;
  font-family: 'Open Sans',Montserrat, 'Raleway',Helvetica, Arial, 'sans serif';
  background-color: $background-color;
}

//
//  Default Link Styles

a {
  color: $anchor-link-color;
  text-decoration: none;
  line-height: inherit;
}

a:hover,
a:focus {
  color: #2795b6;
}

//
// Other general rules

img {
  height: quto;
  max-width: 100%;
}

.no-bullets { list-style: none; }

.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix {
  &:before,
  &:after       { content: " "; display: table; }

  &:after       { clear: both; }
}

.text-center    { text-align: center; }

//
// Top Sectoin
//

.hero {
  position: relative;
  height: 100%;
  background-color: $main-color;

  .to-bottom {
    position: absolute;
    bottom: 3em;
    left: 50%;
    color: #fff;
    font-size: 1.5em;
  }
}

//
// Position the content vertically and horizintally

.hero__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__title {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  font-family: Montserrat;
}

.hero__title,
.hero__intro {
  color: #fff;
}

.hero__photo {
  width: 100px;
  height: 100px;
  margin-bottom: 3em;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px $background-color;
          box-shadow: 0 0 0 3px $background-color;
}

//
// Sections
//

.intro {
  font-size: 1.5em;
  font-weight: 300;
  color: $dark-color;
}

.section {
  padding: 5em 0;

  &:nth-child(odd) {
    background-color: $subtle-bg;
  }
}

.list {
  padding: 0;
}

.list li {
  margin-bottom: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 1.5em;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    height: 2px;
    background-color: $anchor-link-color;
    content: " ";
  }
}

.list li:before {
  left: 0;
  width: 12px;
  -webkit-transform: rotate(134deg);
      -ms-transform: rotate(134deg);
          transform: rotate(134deg);
}

.list li:after {
  left: -2px;
  width: 7px;
  -webkit-transform: rotate(-105deg);
      -ms-transform: rotate(-105deg);
          transform: rotate(-105deg);
}

//
//  Site Footer
//

.social-links {
  margin-top: 3em;

  ul {
    padding: 0;
    margin: 0;
  }
}

.social-link {
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

//
// Custom style for the goodreads icon

.social-links-goodreads {
  position: relative;
  top: -2px;
  text-decoration: none;
  font-style: italic;
  font-family:helvetica;
}
